body {
	margin: 0;
	padding: 0;
	min-width: 1200px;

	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;

	background-color: #ffffff;
}
a {
	text-decoration: none;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.header {
	background-color: #eeeeee;

	margin-bottom: 80px;
	min-height: 545px;
}
.main-navigation {
	display: flex;
	
}
.main-header-logo {
	display: flex;
	width: 160px;
	margin-right: 200px;
	margin-top: 49px;
}
.site-navigation {
	display: flex;
	justify-content: space-between;

	width: 440px;
	margin-right: 200px;
	margin-top: 75px;
	padding: 0;
}
.cart {
	
	justify-content: flex-end;
	width: 160px;
	margin-top: 75px;
	margin-left: auto;
	padding: 0;

}

a.main-header-logo:hover {
	opacity: 0.8;
}
a.main-header-logo:focus {
	opacity: 0.3;
}

.main-navigation {
	font-size: 16px;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
	font-weight: 500;

}
.site-navigation, 
.cart {
	list-style: none;
}
.site-navigation a,
.cart a {
	color: #000000;
}
.site-navigation a:hover,
.cart a:hover {
	color: #fb565a; 
}
.site-navigation a:focus,
.cart a:focus {
	color: rgba(0,0,0,0.3); 
}
.page-title {
	font-size: 55px;
	line-height: 55px;
	align-items: center;
	font-weight: 500;

	margin-top: 72px;
	margin-left: 217px;

}
.slider {
	position: relative;
}
.slide {
	display: none; /*Скроем слайды и*/
	padding: 78px 0 80px 0;	/*не поняла как их измерили*/
}
.slide:nth-child(1) {
	display: block; /*покажем только первый.*/
}
.slide:nth-child(1) {
	background-image: url("../img/slider-1.png");
	background-repeat: no-repeat;
	background-position: 93% 18px;
}
.slide:nth-child(2) {
	background-image: url("../img/slider-2.png");
	background-repeat: no-repeat;
	background-position: 100% 0;
}
.slide:nth-child(3) {
	background-image: url("../img/slider-3.png");
	background-repeat: no-repeat;
	background-position: 100% 20px;
}
.slide h3 {
	width: 600px;/*как померить ширину*/
	margin: 0;
	margin-bottom: 27px;

	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
}
.slide p {
	margin: 0;
	margin-bottom: 40px;
	max-width: 430px;

	color: #283136;
}
.slide-button {
	display: block;
	width: 240px;
	padding: 13px 0;

	font-size: 16px;
	line-height: 18px;

	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;

	background-color: #fb565a;
	border: none;
	border-radius: 3px;
}

.slide-button:hover,
.slide-button:focus {
	background-color: #e74246;
}
.slide-button:active {
	background-color: #d7373b;
	color: rgba(255,255,255,0.3);
	box-shadow: 0 3px rgba(0,0,0,0.1)/*не поняла*/
}

/*не разберусь*/
.slider-controls {
	position: absolute;
	left: 50%;
	bottom: 104px;
	z-index: 100; /*????*/

	width: 160px;
	height: 18px;

	text-align: center;
	font-size: 0;
	transform: translateX(-50%);
}
.slider-controls i {
	position: relative;

	display: inline-block;
	width: 18px;
	height: 18px;
	padding: 8px; /*Переключатели маленькие, поэтому мы увеличим зону нажатия с помощью паддинга.

*/

	border-radius: 50%; /*делаем переключатели круглыми*/
	cursor: pointer; /*дадим курсор «указатель».*/
}

.slider-controls i::after {
	content: ""; /*Мы подготовили подложку для наших переключателей. Теперь приступим к стилизации уже видимой части переключателя. Создадим псевдо-элемент.*/
	
	position: absolute;
	top: 8px; 
	left: 8px;
	z-index: 1;
	
	width: 18px;
	height: 18px;

	background: #ffffff;
	border-radius: 50%;
}
/*не похоже)))*/
.slider-controls .active::before {
	content: "";
	position: absolute;
	top: 12px;
	left: 12px;
	z-index: 2;
	width: 6px;
	height: 6px;
	background-color: #ffffff;
	border: 2px solid #d2d2d2;
	border-radius: 50%;

}
.main-container { 
	color: #000000;

	background-color: #ffffff;
	
}

.features-list {
	list-style: none;
	min-height: 347px;
	margin: 0px;
	padding: 0px;
	display: flex;
	justify-content: space-between;
}
.features-item {
	min-height: 347px;
	width: 300px;
	margin-right: 100px;
	/*временно-без полосы*/
	margin-bottom: 160px;
}
.features-list h3 {
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
	margin: 0;
	padding: 0;
	margin-top: 20px;
	margin-bottom: 17px;
}
.features-list p {
	font-size: 16px;
	line-height: 24px;
	color: #283136;
	margin: 0;
	padding: 0;
	margin-bottom: 33px;
}

.features-item a {
	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase; 
}
.features-btn-red{
	background-color: #fb565a;
	padding: 15px 41px;
	border-radius: 3px;
}
.features-btn-red:hover {
	background-color: #e74246;
}
.features-btn-red:focus {
	background-color: #e74246
	color: rgba(255,255,255,0.3);
}
.features-btn-green{
	background-color: #00ca74;
	padding: 15px 41px;
	border-radius: 3px;
}
.features-btn-green:hover {
	background-color: #00bc6c;
}
.features-btn-green:focus {
	background-color: #00aa62;
	color: rgba(255,255,255,0.3);
}
.features-btn-yellow {
	background-color: #efc84a;
	padding: 15px 41px;
	border-radius: 3px;
}
.features-btn-yellow:hover {
	background-color: #eab534;
}
.features-btn-yellow:focus {
	background-color: #e5a722;
	color: rgba(255,255,255,0.3);
}
.info {
	display: flex;
	justify-content: space-between;
}
.info-description {
	min-height: 370px;
	width: 600px;
}
.info-stats {
	min-height: 410px;
	width: 360px;
}

.info-title {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	text-align: left;
}
.info-lead {
	font-size: 16px;
	line-height: 24px;
	color: #283136;
}
.info-features {
	list-style: none;

}
/*
.info-features li::before {
	content: "";

	width: 25px;
	height: 2px;

	background-color: #fb565a;
}*/
.info-features-title {
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	text-transform: uppercase;
}
.info-logo {
	margin-bottom: 37px;
}
.info-stats-table{
	margin-top: 50px;
}
.info-stats-table td {
	padding: 20px 20px 20px 0;

}
.table-percent {
	font-size: 45px;
	line-height: 10.06px;
}
.table-text {
	font-size: 16px;
	line-height: 18px;
	color: #283136;
}


.carousel-list {
	list-style: none;
	display: flex;
	justify-content: space-between;

}
.carusel-item {
	min-height: 180px;
	width: 260px;
}
.carousel-item a {
	opacity:  0.2; 
}
.carousel-item a:hover {
	opacity: 1;
}

.carousel-item a:focus {
	opacity:  0.1;
}

/*catalog*/
.inner-page .header {
	margin-bottom: 54px;
	min-height: 355px;
}

.filter-option,
.sorting-list,
.sorting-direction {
	list-style: none;
}
.filter-item {
	margin: 0;
	padding: 0;

	border: none;
}
.range-filter {
	width: 260px;
	margin-top: 56px;
}
.range-controls {
	position: relative;

	height: 41px;
	background-color: #eeeeee;
	border-radius: 5px; /*скругление углов*/

	margin-bottom: 15px;
	padding-top: 39px;
	padding-right: 20px;
	padding-left: 20px; 
}
.range-controls .scale {
	height: 2px;
	background-color: #d7dcde;
}
.range-controls .bar {
	width: 70%;
	height: 2px;

	background-color: #00ca74;
}
.range-controls .toggle {
	position: absolute;
	top: 31px;
	left: 0;
	width: 4px;
	height: 4px;
	padding: 0;

	border: 8px solid #ffffff;
	background-color: #ababab;
	box-shadow: 0 2px 1px 0 #cfcfcf;
	border-radius: 50%;
	cursor: pointer;
}
.range-controls .toggle-min {
	left: 18px;
}
.range-controls .toggle-max {
	left: 160px;
}
.price-controls {
	font-size: 0;
}
.price-controls label {
	display: inline-block;
	width: 50%;

	font-size: 16px;
	text-transform: uppercase;
}
.price-controls input {
	width: 60px;
	padding: 8px 10px;
	margin-left: 10px;

	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	text-align: center;
	color: #283136;

	border: none;
	border-radius: 5px;
	background-color: #eeeeee;
}
.max-price {
	text-align: right;
}

.filters-col {
	width: 260px;

}
.catalog-list {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
}
.catalog-col{
	width: 760px;
}
.catalog-colums {
	display: flex;
	justify-content: space-between;
}
.catalog-item {
	width: 360px;
	margin-bottom: 33px;
	margin-right: 40px;
	box-shadow: ;/*не знаю как сделать тень*/
}
.catalog-item:nth-child(2n) {
	margin-right: 0px;
}
.filter fieldset {
 	border: none;

 	padding: 0;
 	margin: 0;
 	margin-bottom: 45px;
}
.filter legend {
 	font-size: 18px;
 	line-height: 30px;
  	font-weight: 700;
  	text-transform: uppercase;
}
.filter-option {
	margin-bottom: 20px;
	padding-left: 35px;
}
.filter-option {
	position: relative;
	display: block;
	cursor: pointer;
}
/*цвет не меняет?*/
.filter-input:hover + label{
	color: #283136;
}
.filter-input:focus + label {
	color: #000000;
}

.filter-input:disabled + label {
	color: #283136;
	opacity: 0.3;
}
/*я тут что-то накосячила))*/
.filter-input-radio +label::before {
	content: "";
	position: absolute;
	left: -34px;
	top: 0;

	background-image: url(../img/radio-on.svg);
	background-repeat: no-repeat;
	background-position: 0 0;

	width: 25px;
	height: 25px;
}
.filter-input-radio:checked +label::after {
	content: "";
	position: absolute;
	top: 5px;
	left: -36px;

	background-image: url(../img/radio-off.svg);
	background-repeat: no-repeat;
	background-position: 0 0;

	width: 25px;
	height: 25px;
}
.filter-input-checkbox +label::before {
	content: "";
	position: absolute;
	width: 25px;
	height: 25px;

	background-image: url(../img/checkbox-off.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	
	left: -34px;
	top: 0;
}
.filter-input-checkbox:checked + label::after {
	content: "";

	position: absolute;
	top: 4px;
	left: -32px;

	width: 20px;
	height: 20px;

	background-image: url(../img/checkbox-on.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.catalog-col span {
	font-size: 18px;
	line-height: 18px; 
	text-transform:uppercase;
	font-weight: 700;
} 
/*ошибка
.sorting-list {

	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	margin-bottom: 55px;

	text-transform: uppercase;
}
.sorting-list li {
	position: relative;
	margin-right: 20px;
}
*/
.sorting-list a {
	color: rgba(0,0,0, 0.3);
}
.sorting-list a:hover {
	color: rgba(0,0,0, 0.6);
}
.sorting-list a:focus {
	color: #000000;
}
.sorting-list-current {
	color: #000000;
}

.filter-button {
	background-color: #eeeeee;
	font-size: 18px;
	line-height: 18px;
	text-transform: uppercase;
	font-weight: 500;
}
.filter-button:hover {
	background-color: #dfdfdf; 
}
.filter-button:focus {
	background-color: #d5d5d5;
	color: rgba(0,0,0,0.3);
}

.catalog-item a {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-align: center; 
	text-transform: uppercase;
	color: #000000;
}
.catalog-item p {
	color: #666666;
	line-height: 16px;
	line-height: 18px;
	text-align: center;
}
.catalog-btn {
	background-color: #fb565a;
	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
}
.catalog-btn:hover {
	background-color: #e74246;
}
.catalog-btn:focus{
	background-color: #d7373b;
}

.pagination-list {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	margin-bottom: 60px;
	list-style: none;
}
.pagination-item {
	margin-right: 11px;
}
.pagination-item:last-child {
	margin-right: 0;
}
.pagination-item a {
	display: block;
	padding: 10px 19px;

	font-size: 16px;
	line-height: 18px;
	color: #000000;
	text-align: center;
	font-weight: 500;

	background-color: #eeeeee;
	text-transform: uppercase;
}
.pagination-item a:hover {
	background-color: #dfdfdf;
}
.pagination-item a:focus {
	background-color: #d5d5d5;
	color: rgba(0,0,0,0.3);
}
.pagination-item-current a {
	background-color: #ffffff;
	border: 3px solid #dbdbdb;
	padding: 7px 16px;

}
.pagination-item-next a {
	width: 260px;
}

.footer {
	color: #000000;
	background-color: #ffffff;
	min-height: 633px;
	margin-top: 80px;
}
.write-us b {
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
}

.write-us p {
	color: #666666;
	font-size: 16px;
	line-height: 18px; 
}

.write-btn {
	font: inherit;

	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;

	background-color: #fb565a;
	border: none;
}
.footer-row .container {
	display: flex;
	justify-content: space-between;
}
.social-icon {
	min-height: 78px;
	width: 260px;
}
.footer-text {
	min-height: 65px;
	width: 560px;
}
.footer-text b {
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	color: #000000; 
}

.footer-text p {
	font-size: 16px;
	line-height: 22px;
	color: #444444;
}

.social-icon ul {
	list-style: none;
}

.social-icon a {
	text-align: center;
	color: #ffffff;
	background-color: #e1e1e1;
}
.social-icon a:hover {
	background-color: #e74246;
}
.social-icon a:focus {
	background-color: #d7373b;
}


.modal-info {
	margin: 0;
	margin-bottom: 50px;
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
}

.appointment-form label {
	margin: 0;
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
}
/*не меняет*/
.appointment-form input[type="text"],
.appointment-form input[type="email"],
.appointment-form textarea {
	font: inherit;
	color: rgba(68,68,68,0.5);
	border: 2px solid #d7dcde;
}

.appointment-form input:hover,
.appointment-form input:hover,
.appointment-form textarea:hover {
	border-color: #b4b9bb; 
	color: rgba(68,68,68, 0.5);
}

.appointment-form input:focus,
.appointment-form input:focus,
.appointment-form textarea:focus {
	border-color: #000000;
	color: #444444;

}
.modal {
	position: fixed;
	color: #000000;
	background-color: #ffffff;
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-wrt-us {
	top: 170px;/**/
	left: 50%;
	width: 780px;
	margin-left: -240px;

	padding: 40px 100px 84px 100px;

	display: none;
}

.modal-close {
	position: absolute;
	top: 78px;
	right: 20px;

	width: 20px;
	height: 20px;
	font-size: 0;
	border: 0;
	cursor: pointer;
	background-color: red;

}
